<th class="cursor-pointer {{ add_class }}" hx-get="{{ path }}{% if page_obj %}?page={{ page_obj.number }}&{% else %}?{% endif %}{% if filter_query %}{{ filter_query }}&{% endif %}order_by={% if name == order_by %}-{{ name }}{% else %}{{ name }}{% endif %}{% if paginator.per_page != default_paginate_by %}&paginate_by={{ paginator.per_page }}{% endif %}"
	hx-target="{{ hx_target_id }}"{% if enable_history %} hx-push-url="{% if page_obj %}?page={{ page_obj.number }}&{% else %}?{% endif %}{% if filter_query %}{{ filter_query }}&{% endif %}order_by={% if name == order_by %}-{{ name }}{% else %}{{ name }}{% endif %}{% if paginator.per_page != default_paginate_by %}&paginate_by={{ paginator.per_page }}{% endif %}"{% endif %}>
	<div class="d-flex">
		<div class="flex-grow-1 align-bottom mt-1">
			{{ slot }}
		</div>
		{% if order_by %}
			{% if name == order_by %}
				<c-icons.chevron_up add_class="ms-1"/>
			{% elif "-"|add:name == order_by %}
				<c-icons.chevron_down add_class="ms-1"/>
			{% endif %}
		{% endif %}
	</div>
</th>